appdirs==1.4.4
autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
distlib==0.3.2
faunadb==4.1.0
filelock==3.0.12
Flask==2.0.0
future==0.18.2
gunicorn==20.1.0
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.10
iso8601==0.1.14
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
pycodestyle==2.7.0
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.7
Werkzeug==2.0.1
